@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
1.validation 
2. sidebar 





*/
@layer base {
  html {
    font-family: roboto;
  }
}



/* 1. validation  */

.inputbox {
  @apply flex flex-col  gap-1 md:min-h-[82px];
  
 }
 .inputbox .inputlabel{
   @apply text-black text-sm; 
 }
 .inputbox .inputfield{
   @apply w-full border p-0 border-border py-2  px-4 pr-10 rounded-md  outline-none focus:ring-0 focus:border-secondary focus:ring-black transition text-sm  ;
 }
 .inputbox .error { 
  @apply hidden
 }
 .inputbox.errorfield  .inputfield{
   @apply border-red-600;
 }
 .inputbox.errorfield  .error {
  @apply block text-xs text-red-600 
 }




/* 2. sidebar  */

.sidebar-menu li a.active {
  @apply bg-primary;
}

.mobile-menu li a.active {
  @apply text-primaryDeep;
}

.mobile-menu li a.active span svg path {
  @apply fill-primaryDeep;
}

[x-cloak] {
  display: none !important;
}

.dms-container {
  padding-right: 1rem;
  padding-left: 1rem;

}


@media (min-width: 992px) {
  .dms-container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .dms-container {
    padding-right: 3.1rem;
    padding-left: 3.1rem;
  }
}


body.open .sidebar {
	width: 260px;
  transition: .3s;
}

.sidebar {
	width: 90px;
	height: 100%; 
  transition: .5s;
}
.sidebar .sidebar-menu  {
  margin-right: 10px;
}
body.open .sidebar .sidebar-menu  {
  margin-right: 24px;
}

.sidebar #sidebarlogo {
  opacity: 0;
	visibility: hidden;
	transition: .3s;
  
}

body.open #sidebarlogo {
  opacity: 1;
	visibility: visible;
}
a {
  padding: 0;
}
.text {
  opacity: 0;
	visibility: hidden;
	transition: 1s !important;
}

body.open .text {
  opacity: 1;
	visibility: visible;
	animation: appear .3s both;
  
} 

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(10px);
    font-size: 0;
	}
	
	100% {
		opacity: 1;
		transform: translate(0, 0);
    font-size: 14px;
   
	}
}

.stuf-drop {
 padding-left: 0;
 transition: all .3s;
}

body.open .stuf-drop {
  padding-left: 20px;
}

.main-content {
  width: calc(100% - 90px);
  transition: all .3s ease-in-out;
 
}
body.open  .main-content {
  width: calc(100% - 260px);
}


@media (max-width: 992px) {
  .main-content {
    width: 100%; 
  }
  body.open  .main-content {
    width: 100%;
  }
}
@media (min-width: 992px) {
  body.open  .main-content {
    width: calc(100% - 260px);
  }
  .main-content {
    width: calc(100% - 90px);
    transition: all .3s ease-in-out;
   
  }
}



/* 3 custom toggle  */

.toggle-custom  {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}